<div>
    <h1 style="text-align: center;">Create reservation page</h1>
</div>

<br><br>

<h3>Step 1: Chose a entity, start date, end dta and number of guests of reservation</h3>
<form (ngSubmit)="availableReservations()" ngNativeValidate>
    <label style="min-width: 15%;">Entity:</label>
    <select id="entity" style="min-width: 20%;" required>
        <option value="cottage">Cottage</option>
        <option value="ship">Ship</option>
        <option value="fishing">Fishing adventure</option>
    </select><br>
    
    <label style="min-width: 15%;">Start date:</label>
    <input type="date" id="startDate" min="{{today}}" value={{today}} onkeydown="return false" style="min-width: 20%;" required><br>
    
    <label style="min-width: 15%;">End date:</label>
    <input type="date" id="endDate" min="{{today}}" value={{today}} onkeydown="return false" style="min-width: 20%;" required><br>
    
    <label style="min-width: 15%;">Number of guests:</label>
    <input type="number" id="numOfGuests" min=1 max=30 value=1 onkeydown="return false" style="min-width: 20%;" required><br>
    
    <button class="btn" type="submit">Find available entities</button>
</form>

<br><br><br>

<div *ngIf="entity === 'cottage'">
    <h3>Step 2: Choose one of the available cottages</h3>
    <table style="width: 100%;">
        <thead>
            <th>Name</th>
            <th>Address</th>
            <th (click)="sortByNumOfRooms()" style="cursor: pointer;">Number of rooms</th>
            <th (click)="sortByNumOfBeds()" style="cursor: pointer;">Number of beds</th>
            <th (click)="sortCottageByCost()" style="cursor: pointer;">Cost per night</th>
            <th (click)="sortCottageByGrade()" style="cursor: pointer;">Grade</th>
            <th>Services</th>
            <th (click)="sortCottageByTotalPrice()" style="cursor: pointer;">Total price</th>
            <th>Choose</th>
        </thead>
        <tbody>
            <tr *ngFor='let c of cottages'>
                <td>{{c.cottage.name}}</td>
                <td>{{c.cottage.address}}</td>
                <td>{{c.cottage.numOfRooms}}</td>
                <td>{{c.cottage.numOfBeds}}</td>
                <td>{{c.cottage.costPerNight}}</td>
                <td>{{c.averageGrade | number: '1.1-2'}}</td>
                <td><div *ngFor='let s of c.cottage.priceList'><input type="checkbox" id={{s.id}} (change)="checkCottageService(c.cottage.id, s.id, s.cost)">{{s.service}} ({{s.cost}} per day)</div></td>
                <td>{{c.totalPrice}}</td>
                <td><a href="#" (click)="bookTheCottage(c.cottage.id)">Choose</a></td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="entity === 'ship'">
    <h3>Step 2: Choose one of the available ships</h3>
    <table style="width: 100%;">
        <thead>
            <th>Name</th>
            <th>Address</th>
            <th>Capacity</th>
            <th (click)="sortShipByCost()" style="cursor: pointer;">Cost per night</th>
            <th (click)="sortShipByGrade()" style="cursor: pointer;">Grade</th>
            <th>Services</th>
            <th (click)="sortShipByTotalPrice()" style="cursor: pointer;">Total price</th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor='let s of ships'>
                <td>{{s.ship.name}}</td>
                <td>{{s.ship.address}}</td>
                <td>{{s.ship.capacity}}</td>
                <td>{{s.ship.costPerNight}}</td>
                <td>{{s.averageGrade | number: '1.1-2'}}</td>
                <td><div *ngFor='let sr of s.ship.priceList'><input type="checkbox" id={{sr.id}} (change)="checkShipService(s.ship.id, sr.id, sr.cost)">{{sr.service}} ({{sr.cost}} per day)</div></td>
                <td>{{s.totalPrice}}</td>
                <td><a href="#" (click)="bookTheShip(s.ship.id)">Choose</a></td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="entity === 'fishing'">
    <h3>Step 2: Choose one of the available instructors favors</h3>
    <table style="width: 100%;">
        <thead>
            <th>Name</th>
            <th>Address</th>
            <th>Description</th>
            <th (click)="sortFavorByCost()" style="cursor: pointer;">Price</th>
            <th (click)="sortFavorByGrade()" style="cursor: pointer;">Grade</th>
            <th>Services</th>
            <th (click)="sortFavorByTotalPrice()" style="cursor: pointer;">Total price</th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor='let f of instructorsFavors'>
                <td>{{f.instructorsFavor.name}}</td>
                <td>{{f.instructorsFavor.address}}</td>
                <td>{{f.instructorsFavor.description}}</td>
                <td>{{f.instructorsFavor.cost}}</td>
                <td>{{f.averageGrade | number: '1.1-2'}}</td>
                <td><div *ngFor='let s of f.instructorsFavor.priceList'><input type="checkbox" id={{s.id}} (change)="checkFavorService(f.instructorsFavor.id, s.id, s.cost)">{{s.service}} ({{s.cost}} per day)</div></td>
                <td>{{f.totalPrice}}</td>
                <td><a href="#" (click)="bookTheInstructorsFavor(f.instructorsFavor.id)">Choose</a></td>
            </tr>
        </tbody>
    </table>
</div>
