<div>
    <h1 style="text-align: center;">Instructors page</h1>
</div>
  
<br><br>
  
<form (ngSubmit)="searchInstructors()">
    <label>First name: </label>
    <input type="text" id="search-instructors-first-name" name="search-instructors-first-name" [(ngModel)]="searchTextFirstName">
    <label>Last name: </label>
    <input type="text" id="search-instructors-last-name" name="search-instructors-last-name" [(ngModel)]="searchTextLastName">
    <button type="submit">Search</button>
</form>
<br><br>
<table style="width: 100%;">
    <thead>
        <th (click)="sortByFirstName()" style="cursor: pointer;">First name</th>
        <th (click)="sortByLastName()" style="cursor: pointer;">Last name</th>
        <th (click)="sortByAddress()" style="cursor: pointer;">Address</th>
        <th (click)="sortByEmail()" style="cursor: pointer;">Email</th>
        <th (click)="sortByMobile()" style="cursor: pointer;">Mobile number</th>
        <th (click)="sortByCountry()" style="cursor: pointer;">Country</th>
        <th (click)="sortByGrade()" style="cursor: pointer;">Grade</th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor='let i of instructorsDTO'>
            <td>{{i.instructor.firstName}}</td>
            <td>{{i.instructor.lastName}}</td>
            <td>{{i.instructor.address}}</td>
            <td>{{i.instructor.email}}</td>
            <td>{{i.instructor.mobileNumber}}</td>
            <td>{{i.instructor.country}}</td>
            <td>{{i.averageGrade | number: '1.1-2'}}</td>
            <td><a href="#" (click)="goToInstructorProfile(i.instructor.email)">More details</a></td>
        </tr>
    </tbody>
</table>