<div class="row">
    <div class="column">
        <h1>Client informations</h1>
        
        <label style="width: 20%;">First name:</label>{{client.firstName}} <br>
        <label style="width: 20%;">Last name:</label>{{client.lastName}} <br>
        <label style="width: 20%;">Email:</label>{{client.email}} <br>
        <label style="width: 20%;">Mobile number:</label>{{client.mobileNumber}} <br>
        <label style="width: 20%;">Country:</label>{{client.country}} <br>
        <label style="width: 20%;">City:</label>{{client.city}} <br>
        <label style="width: 20%;">Address:</label>{{client.address}} <br>
        <label style="width: 20%;">Points:</label>25 <br>
        <label style="width: 20%;">Type:</label>Bronze <br>
        <label style="width: 20%;">Loyalty:</label>20% off <br>
        
    </div>
  </div> 