<div class="container rounded bg-white mt-5 mb-5">
    
    <p style="font-size: 30px; "> <b>Change your password </b></p>

    <div class="row">
        <div class="col-3">
            <label class="labels">New password</label>
        </div>
        <div class="col-7">
            <input type="password" [(ngModel)]="newPassword"  placeholder="Password" style="width: 60;"/>
        </div> 
    </div>
    
    <div class="row" style="margin-top: 5px;">
        <div class="col-3">
            <label class="labels">Confirm new password</label>
        </div>
        <div class="col-7">
            <input type="password" [(ngModel)]="confirmNewPassword"  placeholder="Confirm new password" style="width: 100;"/>
        </div>
    </div>
    <p style="font-size: 20px; color: red;" *ngIf="samePasswords === true"> Passwords are not same </p>
    <button (click)="onSubmit()" class="btn btn-primary"> Change password </button>
</div>
