<div>
  <h1 style="text-align: center;">Instructor {{instructorDTO.instructor.firstName}} {{instructorDTO.instructor.lastName}}</h1>
</div>

<br><br>

<div class="row">
  <div class="column">
    <h3>Instructor informations</h3>
    First name: {{instructorDTO.instructor.firstName}} <br>
    Last name: {{instructorDTO.instructor.lastName}} <br>
    Email: {{instructorDTO.instructor.email}} <br>
    Mobile number: {{instructorDTO.instructor.mobileNumber}} <br>
    Country: {{instructorDTO.instructor.country}} <br>
    City: {{instructorDTO.instructor.city}} <br>
    Average grade: {{instructorDTO.averageGrade | number: '1.1-2'}} <br>
    Address: {{instructorDTO.instructor.address}} <br>    
  </div>
  <div class="column">
    <app-map [address]="instructorDTO.instructor.address"></app-map>
  </div>
    
  </div>

<br><br><br>

  <div>
    <form (ngSubmit)="searchFavorsByName()">
      <label style="border-right-width: 10px;">Search by favors name: </label>
      <input type="text" id="search-favors-name" name="search-favors-name" [(ngModel)]="searchFavorsName">
      <button type="submit">Search</button>
  </form>

  <div>
    <form (ngSubmit)="searchFavorsByAddress()">
      <label style="border-right-width: 10px;">Search by favors address: </label>
      <input type="text" id="search-favors-address" name="search-favors-address" [(ngModel)]="searchFavorsAddress">
      <button type="submit">Search</button>
  </form>

    <h3>Adventure informations</h3>
  <table style="width: 100%;">
    <thead>
      <th>Name</th>
      <th>Address</th>
      <th>Description</th>
      <th>Number of persons</th>
      <th>Rules</th>
      <th>Available from</th>
      <th>Available till</th>
      <th>Cost</th>
      <th>Grade</th>
      <th>Services</th>
      <th>Cancel conditions</th>
  </thead>
  <tbody>
      <tr *ngFor='let f of instructorsFavors'>
          <td>{{f.instructorsFavor.name}}</td>
          <td>{{f.instructorsFavor.address}}</td>
          <td>{{f.instructorsFavor.description}}</td>
          <td>{{f.instructorsFavor.numOfPersons}}</td>
          <td>{{f.instructorsFavor.rules}}</td>
          <td>{{f.instructorsFavor.availableFrom | date:'dd.MM.yyyy'}}</td>
          <td>{{f.instructorsFavor.availableTill | date:'dd.MM.yyyy'}}</td>
          <td>{{f.instructorsFavor.cost}}</td>
          <td>{{f.averageGrade | number: '1.1-2'}}</td>
          <td><div *ngFor='let s of f.instructorsFavor.priceList'>{{s.service}}</div></td>
          <td>{{f.instructorsFavor.cancellationCondition}}</td>
      </tr>
  </tbody>
  </table>
  </div>