<div class="row">
    <div class="column">
      <h1>Adventure informations</h1>
      <div *ngFor="let f of instructorsFavors; let i = index;">
        <h4>Adventure {{i+1}}</h4>
        Name: {{f.name}} <br>
        Address: {{f.address}} <br>
        Descriptions: {{f.description}} <br>
        numOfPersons: {{f.numOfPersons}} <br>
        Rules: {{f.rules}} <br>
        Available from: {{f.availableFrom | date:'dd.MM.yyyy'}} <br>
        Available till: {{f.availableTill | date:'dd.MM.yyyy'}} <br>
        Cost: {{f.cost}} <br>
        Cancellation condition: {{f.cancellationCondition}} <br>
        Services:
        <ul *ngFor='let s of f.priceList'>
          <li>{{s.service}}</li>
        </ul>
      </div>
    </div>
    <div class="column">
        <h1>Instructor informations</h1>
        First name: {{instructor.firstName}} <br>
        Last name: {{instructor.lastName}} <br>
        Email: {{instructor.email}} <br>
        Mobile number: {{instructor.mobileNumber}} <br>
        Country: {{instructor.country}} <br>
        City: {{instructor.city}} <br>
        Address: {{instructor.address}} <br>
    </div>
  </div> 