<div class="row">
    <div class="column">
      <h1>Adventure informations</h1>
    </div>
    <div class="column">
        <h1>Instructor informations</h1>
        First name: {{instructor.firstName}} <br>
        Last name: {{instructor.lastName}} <br>
        Email: {{instructor.email}} <br>
        Mobile number: {{instructor.mobileNumber}} <br>
        Country: {{instructor.country}} <br>
        City: {{instructor.city}} <br>
        Address: {{instructor.address}} <br>
    </div>
  </div> 