<div class="row">
    <div class="column">
      <img style="width: 100%; height: 100%;" [src]="('../../assets/images/' + shipImg + '.jpg')" class="img-fluid z-depth-1"/>
    </div>
    <div class="column">
      <h1>Ship informations</h1>
      Name: {{ship.name}} <br>
      Owner: {{ship.owner.firstName}} {{ship.owner.lastName}} <br>
      Length: {{ship.length}} <br>
      Type: {{ship.type}} <br>
      Engine number: {{ship.engineNumber}} <br>
      Engine power: {{ship.enginePower}} <br>
      Top speed: {{ship.topSpeed}} <br>
      Navigation equipment: {{ship.navigationEquipment}} <br>
      Capacity: {{ship.capacity}} <br>
      Address: {{ship.address}} <br>
      Description: {{ship.description}} <br>
      Grade: {{averageGrade}} <br>
      Rules: {{ship.rules}} <br>
      Available from: {{ship.availableFrom | date:'dd.MM.yyyy'}} <br>
      Available till: {{ship.availableTill | date:'dd.MM.yyyy'}} <br>
      Services: 
      <ul *ngFor='let s of ship.priceList'>
        <li>{{s.service}}</li>
     </ul>    
    </div>
  </div>
  <h1>Fast reservations</h1>
  <table style="width: 100%;">
    <thead>
        <th>Starts</th>
        <th>Ends</th>
        <th>Max people</th>
        <th>Services</th>
        <th>Cost</th>
        <th>Action cost</th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor='let ho of shipHotOffers; let index = index;'>
          <td>{{ho.availableFrom | date:'dd.MM.yyyy'}}</td>
          <td>{{ho.availableTill | date:'dd.MM.yyyy'}}</td>
          <td>{{ho.numOfPeople}}</td>
          <td><div *ngFor='let s of ho.services'>{{s}}</div><div *ngIf='!ho.services'>-</div></td>
          <td>{{costs[index]}}</td>
          <td>{{ho.cost}}</td>
          <td><a href="#" (click)="makeFastReservation(ho.id)">Reserve</a></td>
        </tr>
    </tbody>
  </table>
  <h1>Reservations</h1>
  <table style="width: 100%;">
    <thead>
        <th>Starts </th>
        <th>Ends </th>
        <th>Services</th>
        <th>Cost</th>
        <th>User name</th>
        <th></th>
    </thead>
    <tbody>
      <tr *ngFor='let sr of shipReservations'>
        <td>{{sr.availableFrom | date:'dd.MM.yyyy'}}</td>
        <td>{{sr.availableTill | date:'dd.MM.yyyy'}}</td>
        <td><div *ngFor='let sv of sr.services'>{{sv}}</div></td>
        <td>{{sr.cost}}</td>
        <td>{{sr.client.firstName}}</td>
      </tr>
    </tbody>
</table>