<div>
  <h1 style="text-align: center;">Ship profile</h1>
  <div *ngIf="isSubscribed" style="text-align: right;">
    <b>Subscribed to this ship!</b> <br>
    <button (click)="cancelSubscriptionOfShip()">Cancel subscription</button>
  </div>
  <div *ngIf="!isSubscribed" style="text-align: right;">
    <button (click)="subscribeToShip()">Subscribe</button>
  </div>
</div>

<br><br>

<div class="row">
    <div class="column">
      <h1 style="text-align: center;">{{ship.ship.name}}</h1>
      <br>
      <img style="width: 100%;" [src]="('../../assets/images/' + shipImg + '.jpg')" class="img-fluid z-depth-1"/>
      <br>
      Description: {{ship.ship.description}}
    </div>
      <div class="column">
        <table style="width: 100%; height: 100%;">
          <tr>
            <td>Name:</td>
            <td><b>{{ship.ship.name}}</b></td>
          </tr>
          <tr>
            <td>Owner:</td>
            <td><b>{{ship.ship.owner.firstName}} {{ship.ship.owner.lastName}}</b></td>
          </tr>
          <tr>
            <td>Length:</td> 
            <td><b>{{ship.ship.length}}</b></td>
          </tr>
          <tr>
            <td>Type:</td> 
            <td><b>{{ship.ship.type}}</b></td>
          </tr>
          <tr>
            <td>Engine number:</td> 
            <td><b>{{ship.ship.engineNumber}}</b></td>
          </tr>
          <tr>
            <td>Engine power:</td> 
            <td><b>{{ship.ship.enginePower}}</b></td>
          </tr>
          <tr>
            <td>Top speed:</td> 
            <td><b>{{ship.ship.topSpeed}}</b></td>
          </tr>
          <tr>
            <td>Capacity:</td> 
            <td><b>{{ship.ship.capacity}}</b></td>
          </tr>
          <tr>
            <td>Type:</td> 
            <td><b>{{ship.ship.type}}</b></td>
          </tr>
          <tr>
            <td>Address:</td> 
            <td><b>{{ship.ship.address}}</b></td>
          </tr>
          <tr>
            <td>Cost per night:</td> 
            <td><b>{{ship.ship.costPerNight}}</b></td>
          </tr>
          <tr>
            <td>Grade:</td> 
            <td><b>{{ship.averageGrade | number: '1.1-2'}}</b></td>
          </tr>
          <tr>
            <td>Rules:</td> 
            <td><b>{{ship.ship.rules}}</b></td>
          </tr>
          <tr>
            <td>Available from:</td> 
            <td><b>{{ship.ship.availableFrom | date:'dd.MM.yyyy'}}</b></td>
          </tr>
          <tr>
            <td>Available till:</td> 
            <td><b>{{ship.ship.availableTill | date:'dd.MM.yyyy'}}</b></td>
          </tr>
          <tr>
            <td>Services:</td> 
            <td><div *ngFor='let s of ship.ship.priceList'><b>{{s.service}}</b></div></td>
          </tr>
          <tr>
            <td>Navigation equipment:</td> 
            <td><div *ngFor='let neq of ship.ship.navigationEquipment'><b>{{neq}}</b></div></td>
          </tr>
          <tr>
            <td>Fishing equipment:</td> 
            <td><div *ngFor='let feq of ship.ship.fishingEquipment'><b>{{feq}}</b></div></td>
          </tr>
      </table>
      </div>
      <div class="column">          
        <div>
          <app-map [address]="ship.ship.address"></app-map>
        </div>
      </div>
     
  </div>

<br>

  <h3>Fast reservations</h3>
  <table style="width: 100%;">
    <thead>
        <th>Starts</th>
        <th>Ends</th>
        <th>Max people</th>
        <th>Services</th>
        <th>Cost</th>
        <th>Action cost</th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor='let ho of shipHotOffers; let index = index;'>
          <td>{{ho.availableFrom | date:'dd.MM.yyyy'}}</td>
          <td>{{ho.availableTill | date:'dd.MM.yyyy'}}</td>
          <td>{{ho.numOfPeople}}</td>
          <td><div *ngFor='let s of ho.services'>{{s}}</div><div *ngIf='!ho.services'>-</div></td>
          <td>{{costs[index]}}</td>
          <td>{{ho.cost}}</td>
          <td><a href="#" (click)="makeFastReservation(ho.id)">Reserve</a></td>
        </tr>
    </tbody>
  </table>

  <br>

  <h3>Reservations</h3>
  <table style="width: 100%;">
    <thead>
        <th>Starts </th>
        <th>Ends </th>
        <th>Services</th>
        <th>Cost</th>
        <th>User name</th>
    </thead>
    <tbody>
      <tr *ngFor='let sr of shipReservations'>
        <td>{{sr.availableFrom | date:'dd.MM.yyyy'}}</td>
        <td>{{sr.availableTill | date:'dd.MM.yyyy'}}</td>
        <td><div *ngFor='let sv of sr.services'>{{sv}}</div></td>
        <td>{{sr.cost}}</td>
        <td>{{sr.client.firstName}}</td>
      </tr>
    </tbody>
</table>