<br><br>
<h1 style="text-align: center;">Welcome to home page</h1>
<br><br>
<div class="row">
    <div class="column">
        <img src="../../assets/images/background1.jpg" width="100%">
    </div>
    <div class="column">
        <p style="font-size: 20px">
            This is the web application that is a centralized system 
            through which users will be able to book cottages, 
            boats and fishing instructors. 
            The main purpose of the application is to keep records of 
            advertisers, registered entities, reservations, scheduling dates 
            adventure, users and their profiles.
            <br>
            If you want to reserve some cottage/ship/instructor, you must be logged in. You can do this by selectiong the login/register option 
            from the menu bar and then write your credentials. If you are not our registrated user, you can do the registration by selectiong 
            login/register option from the menu bar and then select register option and enter your data.
        </p>
    </div>
    <div class="column">
        <p style="font-size: 20px">
            You can view all the cottages by selecting the cottages item from the menu bar on the top of the page. 
            Then you will see the list of all cottages and you can search them by name, adress etc. 
            You can select one of these cottages and see some additional informations about them.
            Also, you can view all the ships by selecting the ships item from the menu bar on the top of the page. 
            Then you will see the list of all ships and you can search them by name, adress etc. 
            You can select one of these ships and see some additional informations about them.
            The same procedure is for the instructors. 
            You can view all the instructors and their adventures by selecting the instructors item from the menu bar on the top of the page. 
            Then you will see the list of all instructors and their adventuers and you can search them by name, date etc. 
            You can select one of these instructors/adventures and see some additional informations about them.
        </p>
    </div>
    <div class="column">
        <img src="../../assets/images/background2.jpg" width="100%">
    </div>
</div>