<div class="row">
    <div class="column">
      <h1>Adventure informations</h1>
      Name: Pecanje na dunavu <br>
      Address: Dunav 1 <br>
      Description: Uzbudljivo pecanje <br>
      Grade: 6.0 <br>
    </div>
    <div class="column">
        <h1>Instructor informations</h1>
        First name: {{instructor.firstName}} <br>
        Last name: {{instructor.lastName}} <br>
        Email: {{instructor.email}} <br>
        Mobile number: {{instructor.mobileNumber}} <br>
        Country: {{instructor.country}} <br>
        City: {{instructor.city}} <br>
        Address: {{instructor.address}} <br>
    </div>
  </div>
  <h1>Reservations</h1>
  <table style="width: 100%;">
    <thead>
        <th>Starts </th>
        <th>Ends </th>
        <th>Services</th>
        <th>Cost</th>
        <th>User name</th>
        <th></th>
    </thead>
    <tbody>
        <tr>
            <td>10.12.2021</td>
            <td>16.12.2021</td>
            <td>No services</td>
            <td>300</td>
            <td>Milan</td>
        </tr>
        <tr>
          <td>17.12.2021</td>
            <td>23.12.2021</td>
            <td>Boat</td>
            <td>300</td>
            <td>Miodrag</td>
         </tr>
         <tr>
          <td>23.12.2021</td>
            <td>25.12.2021</td>
            <td>Outside of coast</td>
            <td>100</td>
            <td>Rajko</td>
         </tr>

    </tbody>
</table>