<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul *ngIf="showCompNumber === 1 || showCompNumber === 2" class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a class="btn btn-info" (click)="changeNumber(1)">Register</a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-info" (click)="changeNumber(2)">Login</a>
            </li>
          </ul>
          <app-registerForm (register)="onRegister($event)" *ngIf="showCompNumber === 1"></app-registerForm>
          <app-login-form (login)="onLogin($event)" *ngIf="showCompNumber === 2"></app-login-form>
          <app-cottage-profile (cottageHotOffersForHotOffer)="updateHotOffers($event)" *ngIf="showCompNumber === 3"></app-cottage-profile>
          <app-hot-offer [cottageForApp]="cottageForHotOffers"  *ngIf="showCompNumber === 3"></app-hot-offer>
          <app-cottage-calendar  [cottageForApp]="cottageForHotOffers" *ngIf="showCompNumber === 3"></app-cottage-calendar>
        </div>
      </div>
    </div>
  </div>