<br><br>
<form (ngSubmit)="searchShips()">
    <label>Search ships by name: </label>
    <input type="text" id="search-ships" name="search-ships" [(ngModel)]="searchText">
    <button type="submit">Search</button>
</form>
<br><br>
<table style="width: 100%;">
    <thead>
        <th (click)="sortByName()" style="cursor: pointer;">Name</th>
        <th (click)="sortByAddress()" style="cursor: pointer;">Address</th>
        <th (click)="sortByType()" style="cursor: pointer;">Type</th>
        <th (click)="sortByCapacity()" style="cursor: pointer;">Capacity</th>
        <th (click)="sortByDescription()" style="cursor: pointer;">Description</th>
        <th>Cost per night</th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor='let s of ships'>
            <td>{{s.name}}</td>
            <td>{{s.address}}</td>
            <td>{{s.type}}</td>
            <td>{{s.capacity}}</td>
            <td>{{s.description}}</td>
            <td>{{s.costPerNight}}</td>
            <td><a href="#" (click)="goToShipProfile(s.id)">More details</a></td>
        </tr>
    </tbody>
</table>