<div class="row">
    <div class="column">
      <h1>Links</h1>
    </div>
    <div class="column" *ngIf="viewInformation">
        <h1>Client informations</h1>
        
        <label style="width: 20%;">First name:</label>{{client.firstName}} <br>
        <label style="width: 20%;">Last name:</label>{{client.lastName}} <br>
        <label style="width: 20%;">Email:</label>{{client.email}} <br>
        <label style="width: 20%;">Mobile number:</label>{{client.mobileNumber}} <br>
        <label style="width: 20%;">Country:</label>{{client.country}} <br>
        <label style="width: 20%;">City:</label>{{client.city}} <br>
        <label style="width: 20%;">Address:</label>{{client.address}} <br>

        <a href="#" (click)="editInformations()">Edit informations</a>
        
    </div>
    <div class="column" *ngIf="!viewInformation">
      <h1>Client informations</h1>

      <form (ngSubmit)="changeInformations()">
        <label style="width: 20%;">First name:</label><input type="text" value="{{client.firstName}}"/> <br>
        <label style="width: 20%;">Last name:</label><input type="text" value="{{client.lastName}}"/> <br>
        <label style="width: 20%;">Email:</label><input type="text" value="{{client.email}}" disabled/> <br>
        <label style="width: 20%;">Mobile number:</label><input type="text" value="{{client.mobileNumber}}"/> <br>
        <label style="width: 20%;">Country:</label><input type="text" value="{{client.country}}"/> <br>
        <label style="width: 20%;">City:</label><input type="text" value="{{client.city}}"/> <br>
        <label style="width: 20%;">Address:</label><input type="text" value="{{client.address}}"/> <br>

        <button type="submit" name="changeClientInfo" id="changeClientInfo">Change informations</button>
      </form>
    </div>
  </div> 