<div>
  <h1 style="text-align: center;">Ship profile</h1>
</div>

<br><br>

<div class="row">
    <div class="column">
      <h1 style="text-align: center;">{{ship.ship.name}}</h1>
      <br>
      <img style="width: 100%;" [src]="('../../assets/images/' + shipImg + '.jpg')" class="img-fluid z-depth-1"/>
      <br>
      Description: {{ship.ship.description}}
    </div>
    <div class="column">
      <table style="width: 100%; height: 100%;">
        <tr>
          <td>Name:</td>
          <td><b>{{ship.ship.name}}</b></td>
        </tr>
        <tr>
          <td>Owner:</td>
          <td><b>{{ship.ship.owner.firstName}} {{ship.ship.owner.lastName}}</b></td>
        </tr>
        <tr>
          <td>Length:</td> 
          <td><b>{{ship.ship.length}}</b></td>
        </tr>
        <tr>
          <td>Type:</td> 
          <td><b>{{ship.ship.type}}</b></td>
        </tr>
        <tr>
          <td>Engine number:</td> 
          <td><b>{{ship.ship.engineNumber}}</b></td>
        </tr>
        <tr>
          <td>Engine power:</td> 
          <td><b>{{ship.ship.enginePower}}</b></td>
        </tr>
        <tr>
          <td>Top speed:</td> 
          <td><b>{{ship.ship.topSpeed}}</b></td>
        </tr>
        <tr>
          <td>Capacity:</td> 
          <td><b>{{ship.ship.capacity}}</b></td>
        </tr>
        <tr>
          <td>Type:</td> 
          <td><b>{{ship.ship.type}}</b></td>
        </tr>
        <tr>
          <td>Address:</td> 
          <td><b>{{ship.ship.address}}</b></td>
        </tr>
        <tr>
          <td>Cost per night:</td> 
          <td><b>{{ship.ship.costPerNight}}</b></td>
        </tr>
        <tr>
          <td>Grade:</td> 
          <td><b>{{ship.averageGrade | number: '1.1-2'}}</b></td>
        </tr>
        <tr>
          <td>Rules:</td> 
          <td><b>{{ship.ship.rules}}</b></td>
        </tr>
        <tr>
          <td>Available from:</td> 
          <td><b>{{ship.ship.availableFrom | date:'dd.MM.yyyy'}}</b></td>
        </tr>
        <tr>
          <td>Available till:</td> 
          <td><b>{{ship.ship.availableTill | date:'dd.MM.yyyy'}}</b></td>
        </tr>
        <tr>
          <td>Services:</td> 
          <td><div *ngFor='let s of ship.ship.priceList'><b>{{s.service}}</b></div></td>
        </tr>
        <tr>
          <td>Navigation equipment:</td> 
          <td><div *ngFor='let neq of ship.ship.navigationEquipment'><b>{{neq}}</b></div></td>
        </tr>
        <tr>
          <td>Fishing equipment:</td> 
          <td><div *ngFor='let feq of ship.ship.fishingEquipment'><b>{{feq}}</b></div></td>
        </tr>
    </table>
    </div>
    <div class="column">
      <app-map [address]="ship.ship.address"></app-map>
    </div>
  </div>