<br><br>
<form (ngSubmit)="searchCottages()">
    <label style="border-right-width: 10px;">Search by cottage name: </label>
    <input type="text" id="search-cottages" name="search-cottages" [(ngModel)]="searchText">
    <button type="submit">Search</button>
</form>
<br><br>
<table style="width: 100%;">
    <thead>
        <th (click)="sortByName()" style="cursor: pointer;">Name</th>
        <th (click)="sortByAddress()" style="cursor: pointer;">Address</th>
        <th (click)="sortByDescription()" style="cursor: pointer;">Description</th>
        <th (click)="sortByCost()" style="cursor: pointer;">Cost per night</th>
        <th (click)="sortByGrade()" style="cursor: pointer;">Grade</th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor='let c of cottages'>
            <td>{{c.cottage.name}}</td>
            <td>{{c.cottage.address}}</td>
            <td>{{c.cottage.description}}</td>
            <td>{{c.cottage.costPerNight}}</td>
            <td>{{c.averageGrade}}</td>
            <td><a href="#" (click)="goToCottageProfile(c.cottage.id)">More details</a></td>
        </tr>
    </tbody>
</table>