<div class="row">
    <div class="column">
      <img style="width: 100%; height: 100%;" [src]="('../../assets/images/' + cottageImg + '.jpg')" class="img-fluid z-depth-1"/>
    </div>
    <div class="column">
      Name: {{cottage.name}} <br>
      Address: {{cottage.address}} <br>
      Owner: {{cottage.owner.firstName}} {{cottage.owner.lastName}} <br>
      Description: {{cottage.description}} <br>
      Grade: 0.0 <br>
      Number of rooms: {{cottage.numOfRooms}} <br>
      Number of beds: {{cottage.numOfBeds}} <br>
      Rules: {{cottage.rules}} <br>
      Cost per night: {{cottage.costPerNight}} <br>
      Available from: {{cottage.availableFrom}} <br>
      Available till: {{cottage.availableTill}} <br>
      Services:
      <ul *ngFor='let s of cottage.services'>
         <li>{{s}}</li>
      </ul>
    </div>
  </div> 