<div class="row">
    <div class="column">
      <img style="width: 100%; height: 100%;" [src]="('../../assets/images/' + cottageImg + '.jpg')" class="img-fluid z-depth-1"/>
    </div>
    <div class="column">
      <h1>Cottage informations</h1>
      Name: {{cottage.cottage.name}} <br>
      Address: {{cottage.cottage.address}} <br>
      Owner: {{cottage.cottage.owner.firstName}} {{cottage.cottage.owner.lastName}} <br>
      Description: {{cottage.cottage.description}} <br>
      Grade: {{cottage.averageGrade}} <br>
      Number of rooms: {{cottage.cottage.numOfRooms}} <br>
      Number of beds: {{cottage.cottage.numOfBeds}} <br>
      Rules: {{cottage.cottage.rules}} <br>
      Cost per night: {{cottage.cottage.costPerNight}} <br>
      Available from: {{cottage.cottage.availableFrom | date:'dd.MM.yyyy'}} <br>
      Available till: {{cottage.cottage.availableTill | date:'dd.MM.yyyy'}} <br>
      Services:
      <ul *ngFor='let s of cottage.cottage.priceList'>
         <li>{{s.service}}</li>
      </ul>
    </div>
</div>