<div>
    <h1 style="text-align: center;">Instructors page</h1>
</div>
  
<br><br>

<form (ngSubmit)="searchInstructors()">
    <label>First name: </label>
    <input type="text" id="search-instructors-first-name" name="search-instructors-first-name" [(ngModel)]="searchTextFirstName">
    <label>Last name: </label>
    <input type="text" id="search-instructors-last-name" name="search-instructors-last-name" [(ngModel)]="searchTextLastName">
    <button type="submit">Search</button>
</form>
<br><br>
<table style="width: 100%;">
    <thead>
        <th>First name</th>
        <th>Lastt name</th>
        <th>Address</th>
        <th>Email</th>
        <th>Mobile number</th>
        <th>Country</th>
        <th>Grade</th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor='let i of instructorsDTO'>
            <td>{{i.instructor.firstName}}</td>
            <td>{{i.instructor.lastName}}</td>
            <td>{{i.instructor.address}}</td>
            <td>{{i.instructor.email}}</td>
            <td>{{i.instructor.mobileNumber}}</td>
            <td>{{i.instructor.country}}</td>
            <td>{{i.averageGrade | number: '1.1-2'}}</td>
            <td><a href="#" (click)="goToInstructorProfile(i.instructor.email)">More details</a></td>
        </tr>
    </tbody>
</table>